{% extends 'supply_chain/base.html' %}

{% block title %}Список отчетов о доставке{% endblock %}

{% block content %}
<h1>Список отчетов о доставке</h1>
<a href="{% url 'отчет_о_доставке_create' %}">➕ Добавить отчет</a>

<form method="get">
    <input type="text" name="search" placeholder="Поиск по номеру накладной" value="{{ search_term }}">
    <button type="submit">🔍</button>
</form>

{% if отчеты %}
    <ul>
    {% for отчет in отчеты %}
        <li>
            {{ отчет.номер_накладной }} —
            <a href="{% url 'отчет_о_доставке_detail' отчет.pk %}">Подробнее</a> |
            <a href="{% url 'отчет_о_доставке_update' отчет.pk %}">Редактировать</a> |
            <a href="{% url 'отчет_о_доставке_confirm_delete' отчет.pk %}">Удалить</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Нет отчетов.</p>
{% endif %}
{% endblock %}
